.seller-table {
  margin-top: 35px;
  table-layout: fixed;
  &.container {
    flex: 1 1 auto;
  }
  .table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    border-top: hidden;
  }
  .table tbody tr td {
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
}

.my-custom-scrollbar {
  position: relative;
  height: 300px;
  overflow: auto;
}
.table-wrapper-scroll-y {
  display: block;
}